{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    
</head>
<body>
    <h1>welcome {{name | upper}}</h1>
    <h3 id="list">courses list</h3>
    <a href="{% url 'app1:login' %}">login</a>
    <a href="{% url 'app1:register' %}">register</a>
    <ul>
        {% for course in courses %}
        <li>{{course}}</li>
        {% endfor %}
    </ul>
    <!-- <img src="https://picsum.photos/200/300" alt=""> -->
    <img src="{% static 'images/panda.jpg' %}" alt="" width="500" height="600">
    <script>
        // $(document).ready(function(){
        //     $('#list').css({
        //         color : 'red',
        //         backgroundColor : 'yellow'
        //     });
        // });
    </script>

    <script src="{% static 'scripts/intro.js' %}"></script>
</body>
</html>